* {
    scrollbar-width: thin;
}
*::-webkit-scrollbar-thumb, *::-webkit-scrollbar {
    visibility: hidden;
}
*:hover::-webkit-scrollbar-thumb, *:focus::-webkit-scrollbar {
    visibility: visible;
}
@media (min-width: 992px) {
    .layout {
        --bs-vnav-link-color: var(--bs-body-color);
        --bs-vnav-link-hover-color: var(--bs-body-color);
        --bs-vnav-link-hover-bg: var(--bs-secondary-bg);
        --bs-vnav-link-active-color: var(--bs-emphasis-color);
        --bs-vnav-link-active-bg: var(--bd-sidebar-link-bg);

        display: grid;
        grid-template-areas: "h h h" "n m m" "n f f";
        grid-template-rows: 3.6rem 1fr 3rem;
        grid-template-columns: 15rem 1fr;
        height: 100vh;

        /* >* {
        border: 1px solid #0056b3;
    } */

        >header {
            grid-area: h;
            z-index: 1039;
        }

        >nav {
            grid-area: n;
        }
        /* >nav:hover {
            scrollbar-color: inherit;
        } */
         >nav a {

            color: var(--bs-vnav-link-color);

            &.active {
                color: var(--bs-vnav-link-color);
                background-color: var(--bs-vnav-link-active-bg);
            }
            &:focus, &:hover {
                color: var(--bs-vnav-link-color);
                background-color: var(--bs-vnav-link-hover-bg);
            }
        }
        >nav .offcanvas-body {
            overflow-y: scroll;
            scrollbar-color: transparent transparent;
        }
        >nav:hover .offcanvas-body {
            scrollbar-color: inherit;
        }
        >main {
            grid-area: m;
            overflow-y: scroll;
        }

        >footer {
            grid-area: f;
        }

        >aside {
            display: none;
        }
    }

    .layout-0 {
        display: block;

        >nav,
        >main {
            overflow: unset;
        }
    }

    .layout-1 {
        grid-template-areas: "h h h" "n m m" "f f f";
    }

    .layout-2 {
        grid-template-areas: "n h h" "n m m" "n f f";
    }

    .layout-3 {
        grid-template-areas: "h h h" "m m m" "f f f";

        >nav {
            display: none;
        }
    }

    .layout-4 {
        grid-template-areas: "n h h" "n m m" "n f f";
        grid-template-columns: 3.6rem 1fr;

        .nav-link>span {
            display: none;
        }
    }

    .layout-5 {
        grid-template-areas: "n m m" "n m m" "h h h";
        grid-template-rows: 3.6rem 1fr;

        >footer {
            display: none;
        }
    }
    /* change layout 6 with different grid-template-areas */
    .layout-6 { 
        grid-template-areas: "n m m" "n m m" "n m m";
        & >footer, >header {
            display: none !important;
        }
    }

    .layout-7 {
        grid-template-areas: "n h h" "n m m" "n m m";
        >footer {
            display: none;
        }
    }
}

.grid {
    display: grid;
    grid-gap: 1rem;
}
.grid-1 {
    grid-template-columns: minmax(0, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-2-25 {
    grid-template-columns: minmax(0, 25%) minmax(0, 1fr);
}

.grid-2-75 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 25%);
}

.grid-2-66 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 33%);
}

.grid-2-33 {
    grid-template-columns: minmax(0, 33%) minmax(0, 1fr);
}

@media (min-width: 992px) {
    .grid-md-1 {
        grid-template-columns: minmax(0, 1fr);
    }

    .grid-md-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-md-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .grid-md-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .grid-md-2-25 {
        grid-template-columns: minmax(0, 25%) minmax(0, 1fr);
    }

    .grid-md-2-75 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 25%);
    }

    .grid-md-2-66 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 33%);
    }

    .grid-md-2-33 {
        grid-template-columns: minmax(0, 33%) minmax(0, 1fr);
    }

    .gcs-md-2 {
        grid-column: span 2;
    }
    
    .gcs-md-3 {
        grid-column: span 3;
    }
    
    .gcs-md-4 {
        grid-column: span 4;
    }
    
}
/* Table Settings 
table {
    position: relative;
    border-collapse: collapse;
    & th {
        position: sticky;
        top: 114px;
        background-color: #292929;
        z-index: 1;
    }
    & th.is-pinned { 
        border-bottom: 1px solid #0056b3;
    }
}

            <div class="region" role="region" aria-labelledby="caption" tabindex="0">
                <table>
                    <caption id="caption">Baseball numbers mmkay.</caption>
                    <thead>
                        <tr>
                            <th>Teams</th>
                            <th>1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Milwaukee Brewers</th>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>

*/
.region {
    & table {
        /* white-space: nowrap;
        margin: 0;
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed;

        & td,
        th {
            border: 1px solid;
        } */

        & thead th {
            position: sticky;
            top: 0;
            z-index: 2;
            /* width: 25vw; */
        }

        /* & td {
            padding: 4px 5px;
        } */

        & tbody th {
            position: relative;
        }

        & thead th.fixed, tbody th, tbody td.fixed {
            position: sticky;
            left: 0;
            top: 0;
            z-index: 2;
        }

        & tbody th, tbody td.fixed {
            z-index: 1;
        }
    }
}
.ai-toolbar {
    flex-flow: nowrap;
    overflow-y: auto;
    background-color: var(--bs-body-bg);
    
    & .form-floating {
        min-inline-size: max-content;
    }
}


caption {
    position: sticky;
    left: 0;
}

[role="region"][aria-labelledby][tabindex] {
    /* width: 100%; */
    max-height: 75vh;
    overflow: auto;
}

/* [role="region"][aria-labelledby][tabindex]:focus {
    box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
    outline: 0;
} */

/* Sidebar Navigation Menu */
ul[is="expanding-list"] {
    & > li > a {
        padding-left: 1rem;
    }
    & > li > ul > li > a {
        padding-left: 2rem;
    }
    & > li > ul > li > ul > li > a {
        padding-left: 3rem;
    }
    & > li > ul > li > ul > li > ul > li > a {
        padding-left: 4rem;
    }
    /* a:hover {
        background-color: var(--bs-body-bg-subtle);
    } */
}

/* Article settings */
article header {
    z-index: 1038 !important;
}