* {
    scrollbar-width: thin;
}
*::-webkit-scrollbar-thumb, *::-webkit-scrollbar {
    visibility: hidden;
}
*:hover::-webkit-scrollbar-thumb, *:focus::-webkit-scrollbar {
    visibility: visible;
}
@media (min-width: 992px) {
    .layout {
        --bs-vnav-link-color: var(--bs-body-color);
        --bs-vnav-link-hover-color: var(--bs-body-color);
        --bs-vnav-link-hover-bg: var(--bs-secondary-bg);
        --bs-vnav-link-active-color: var(--bs-emphasis-color);
        --bs-vnav-link-active-bg: var(--bd-sidebar-link-bg);

        display: grid;
        grid-template-areas: "h h h" "n m m" "n f f";
        grid-template-rows: 3.6rem 1fr 3rem;
        grid-template-columns: 15rem 1fr;
        height: 100vh;

        /* >* {
        border: 1px solid #0056b3;
    } */

        >header {
            grid-area: h;
            z-index: 1039;
        }

        >nav {
            grid-area: n;
        }
        /* >nav:hover {
            scrollbar-color: inherit;
        } */
         >nav a {

            color: var(--bs-vnav-link-color);

            &.active {
                color: var(--bs-vnav-link-color);
                background-color: var(--bs-vnav-link-active-bg);
            }
            &:focus, &:hover {
                color: var(--bs-vnav-link-color);
                background-color: var(--bs-vnav-link-hover-bg);
                cursor: pointer;
            }
        }
        >nav .offcanvas-body {
            overflow-y: scroll;
            scrollbar-color: transparent transparent;
        }
        >nav:hover .offcanvas-body {
            scrollbar-color: inherit;
        }
        >main {
            grid-area: m;
            overflow-y: scroll;
        }

        >footer {
            grid-area: f;
        }

        >aside {
            display: none;
        }
    }

    .layout-0 {
        display: block;

        >nav,
        >main {
            overflow: unset;
        }
    }

    .layout-1 {
        grid-template-areas: "h h h" "n m m" "f f f";
    }

    .layout-2 {
        grid-template-areas: "n h h" "n m m" "n f f";
    }

    .layout-3 {
        grid-template-areas: "h h h" "m m m" "f f f";

        >nav {
            display: none;
        }
    }

    .layout-4 {
        grid-template-areas: "n h h" "n m m" "n f f";
        grid-template-columns: 3.6rem 1fr;

        .nav-link>span {
            display: none;
        }
    }

    .layout-5 {
        grid-template-areas: "n m m" "n m m" "h h h";
        grid-template-rows: 3.6rem 1fr;

        >footer {
            display: none;
        }
    }
    /* change layout 6 with different grid-template-areas */
    .layout-6 { 
        grid-template-areas: "n m m" "n m m" "n m m";
        & >footer, >header {
            display: none !important;
        }
    }

    .layout-7 {
        grid-template-areas: "n h h" "n m m" "n m m";
        >footer {
            display: none;
        }
    }
}

/* .grid {
    display: grid;
    grid-gap: 1rem;
} */
.grid-1 {
    grid-template-columns: minmax(0, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-2-25 {
    grid-template-columns: minmax(0, 25%) minmax(0, 1fr);
}

.grid-2-75 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 25%);
}

.grid-2-66 {
    grid-template-columns: minmax(0, 1fr) minmax(0, 33%);
}

.grid-2-33 {
    grid-template-columns: minmax(0, 33%) minmax(0, 1fr);
}

@media (min-width: 992px) {
    .grid-md-1 {
        grid-template-columns: minmax(0, 1fr);
    }

    .grid-md-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-md-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .grid-md-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .grid-md-2-25 {
        grid-template-columns: minmax(0, 25%) minmax(0, 1fr);
    }

    .grid-md-2-75 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 25%);
    }

    .grid-md-2-66 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 33%);
    }

    .grid-md-2-33 {
        grid-template-columns: minmax(0, 33%) minmax(0, 1fr);
    }

    .gcs-md-2 {
        grid-column: span 2;
    }
    
    .gcs-md-3 {
        grid-column: span 3;
    }
    
    .gcs-md-4 {
        grid-column: span 4;
    }
    
}
/* Table Settings 
table {
    position: relative;
    border-collapse: collapse;
    & th {
        position: sticky;
        top: 114px;
        background-color: #292929;
        z-index: 1;
    }
    & th.is-pinned { 
        border-bottom: 1px solid #0056b3;
    }
}

            <div class="region" role="region" aria-labelledby="caption" tabindex="0">
                <table>
                    <caption id="caption">Baseball numbers mmkay.</caption>
                    <thead>
                        <tr>
                            <th>Teams</th>
                            <th>1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Milwaukee Brewers</th>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>

*/
.region {
    & table {
        /* white-space: nowrap;
        margin: 0;
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed;

        & td,
        th {
            border: 1px solid;
        } */

        & thead th {
            position: sticky;
            top: 0;
            z-index: 2;
            /* width: 25vw; */
        }

        /* & td {
            padding: 4px 5px;
        } */

        & tbody th {
            position: relative;
        }

        & thead th.fixed, tbody th, tbody td.fixed {
            position: sticky;
            left: 0;
            top: 0;
            z-index: 2;
        }

        & tbody th, tbody td.fixed {
            z-index: 1;
        }
    }
}
.ai-toolbar {
    flex-flow: nowrap;
    overflow-y: auto;
    background-color: var(--bs-body-bg);
    
    & .form-floating {
        min-inline-size: max-content;
    }
}


caption {
    position: sticky;
    left: 0;
}

[role="region"][aria-labelledby][tabindex] {
    /* width: 100%; */
    max-height: 75vh;
    overflow: auto;
}

/* [role="region"][aria-labelledby][tabindex]:focus {
    box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
    outline: 0;
} */

/* Sidebar Navigation Menu */
ul[is="expanding-list"] {
    & > li > a {
        padding-left: 1rem;
    }
    & > li > ul > li > a {
        padding-left: 2rem;
    }
    & > li > ul > li > ul > li > a {
        padding-left: 3rem;
    }
    & > li > ul > li > ul > li > ul > li > a {
        padding-left: 4rem;
    }
    & ul {
        list-style: none;
        padding: 0;
    }
    /* & li.open ul {
        display: block;
    }
    & li.closed ul {
        display: none;
    }  */
/* a:hover {
        background-color: var(--bs-body-bg-subtle);
    } */

}

/* Article settings */
article header {
    z-index: 1038 !important;
}

/* SELECT 2 */
.form-floating .select2-container {
    display: block;
    width: 100% !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-floating .select2-container {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.select2-container {
    display: block
}

.select2-container *:focus {
    outline: 0
}

.input-group .select2-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.input-group-prepend ~ .select2-container .select2-selection {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-group>.select2-container:not(:last-child) .select2-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container .select2-selection {
    width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    .select2-container .select2-selection {
        -webkit-transition: none;
        transition: none
    }
}

.select2-container.select2-container--focus  {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.select2-container.select2-container--focus.select2-container--open .select2-selection {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.select2-container.select2-container--open.select2-container--above .select2-selection {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container.select2-container--open.select2-container--below .select2-selection {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.select2-container.select2-container--disabled .select2-selection,.select2-container.select2-container--disabled.select2-container--focus .select2-selection {
    cursor: not-allowed;
    background-color: #e9ecef;
    border-color: #ced4da;
    -webkit-box-shadow: none;
    box-shadow: none
}

.select2-container.select2-container--disabled .select2-search__field,.select2-container.select2-container--disabled.select2-container--focus .select2-search__field {
    background-color: transparent
}

select.is-invalid ~ .select2-container .select2-selection,form.was-validated select:invalid ~ .select2-container .select2-selection {
    border-color: #dc3545
}

select.is-valid ~ .select2-container .select2-selection,form.was-validated select:valid ~ .select2-container .select2-selection {
    border-color: #28a745
}

.select2-container .select2-search {
    width: 100%
}

.select2-container .select2-dropdown {
    border-color: var(--bs-border-color);
    border-radius: 0
}

.select2-container .select2-dropdown.select2-dropdown--below {
    border-top: none;
}

.select2-container .select2-dropdown.select2-dropdown--above {
    border-top: var(--bs-border-width) solid var(--bs-border-color);
}

.select2-container .select2-dropdown .select2-results__option[aria-selected="true"] {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

.select2-container .select2-results__option--highlighted,.select2-container .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

.select2-container .select2-results__option[role="group"] {
    padding: 0
}

.select2-container .select2-results__option[role="group"] .select2-results__options--nested .select2-results__option {
    padding-left: 1em
}

.select2-container .select2-results__option {
    padding: .375rem .75rem
}

.select2-container .select2-results>.select2-results__options {
    max-height: 15em;
    overflow-y: auto
}

.select2-container .select2-results__group {
    display: list-item;
    padding: 6px;
    color: #6c757d
}

.select2-container .select2-selection__clear {
    float: right;
    width: .9em;
    height: .9em;
    padding-left: .15em;
    margin-top: .7em;
    margin-right: .3em;
    line-height: .75em;
    color: #f8f9fa;
    background-color: #c8c8c8;
    border-radius: 100%
}

.select2-container .select2-selection__clear:hover {
    background-color: #afafaf
}

.select2-container .select2-selection--single {
    /* height: calc(1.5em + .75rem + 2px) !important */
    height: 20px !important;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
    line-height: calc(1.5em + .75rem);
    color: #6c757d
}

.select2-container .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 50%;
    right: 3px;
    width: 20px
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -4px;
    border-color: var(--bs-body-color) transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
}
.select2-dropdown {
--bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-info-bg-subtle);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color) !important;
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg) !important;
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);    
}
.select2-results__message {
    color: #6c757d
}

.select2-container .select2-selection--multiple {
    min-height: calc(1.5em + .75rem + 2px) !important
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 .375rem;
    margin: 0;
    list-style: none
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    float: left;
    padding: 0;
    padding-right: .75rem;
    margin-top: calc(.375rem - 2px);
    margin-right: .375rem;
    cursor: pointer;
    border: 1px solid var(--bs-body-color);
    border-radius: var(--bs-border-radius);
}

.select2-container .select2-selection--multiple .select2-search__field {
    color: #495057
}

.select2-container .select2-selection--multiple .select2-selection__choice+.select2-search {
    width: 0
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    float: left;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 1px;
    margin-left: 3px;
    font-weight: 700;
    color: #bdc6d0
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #343a40
}

.select2-container .select2-selection--multiple .select2-selection__clear {
    position: absolute !important;
    top: 0;
    right: .7em;
    float: none;
    margin-right: 0
}

.select2-container.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    padding: 0 5px;
    cursor: not-allowed
}

.select2-container.select2-container--disabled .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    display: none
}
